# App Configurations
PORT=4000
JWT_SECRET=YOUR_SECRET_KEY

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/yuvasena?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Firebase Cloud Messaging Service Account (JSON string)
FIREBASE_SERVICE_ACCOUNT_KEY=
